$font-primary: "Archivo Narrow", sans-serif;
$font-secondary: "Open Sans", sans-serif;

$box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.7);

$colors: (
  black: #262626,
  white: #ffffff,
  offWhite: #f4f3ee,
  darkGray: #6a6a6a,
  textGray: #8d8d8d,
  lightGray: #e2e2e2,
  mediumGray: #e5e5e5,
  darkPink: #c32c72,
);
